.navigation-item{
    display: inline;
    margin-right: 10px;
}

header{
    text-align: center;
    background-color: rgb(168, 59, 193);
}

.navigation-link {
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-size: x-large;
}

.navigation-link:hover{
    text-decoration: underline;
}

main{
    text-align: center;
}

article{
    max-width: 500px;
    margin: auto;
}

img{
    height: 200px;
    max-width: 500px;
}

